<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang="ja">
    <title>やくしまるえつこ</title>
  </head>
  <body>
        <h1><%= @user[:name] %></h1>
    <p><%= @user[:username] %></p>
    <ul>
      <li>Location : <%= @user[:location] %></li>
      <li>About    : <%= @user[:about] %></li>
    </ul>
  </body>
</html>
